mixin actor(actor)
  .px-3(class='w-1/4')
    .overflow-hidden.rounded.border.border-gray-400.bg-white.shadow-lg
      .relative
        a.block.bg-cover.bg-no-repeat.bg-center(href="/actor/" + actor.slug, style=`background-image: url(${actor.photo}); height: 350px`)
        .absolute.bottom-0.right-0.m-3.px-3.py-1.rounded.text-xl.font-medium.text-white(style='background-color: rgba(0,0,0,0.6)')
          span= new Date(actor.birth_date).getFullYear()
          if actor.death_date
            span  - #{new Date(actor.death_date).getFullYear()}
      .p-3
        h3.mr-10.text-sm.truncate-2nd
          a.text-lg.font-medium.text-gray-700(class='hover:text-purple-600', href='/actor/' + actor.slug)= actor.fullname

